.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

#wrapper { /* 共通の処理 */
    width:350px;
    height:350px;
}

.headerLeft { 
    background-color: #FFFF66;
    width:150px;
    height: 100px;
    float: left;
}
.headerRight { 
    background-color: #666666;
    width:200px;
    height: 100px;
    float: left;
}


.left {
    height:150px;
    width:150px;
    background-color: #FF3333;
    float: left;
}
.middle {
    height:150px;
    width:100px;
    background-color: #3366FF;
    float: left;
}
.right {
    height:150px;
    width:100px;
    background-color: #669933;
    float: right;
}
.footerLeft {
    background-color: #FF9966;
    width:150px;
    height: 100px;
    float: left;

}
.footerMiddle {
    background-color: #FFFFCC;
    width:100px;
    height: 100px;
    float: left;

}
.footerRight {
    /* border: solid 1px #999; */
    background-color: #330066;
    width:100px;
    height: 100px;
    float: left;
}
/* reset.css*/
* {
    margin: 0;
    padding: 0;
}
